button{
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgb(60, 60, 235);
    border: none;
    outline: 0;
    cursor: pointer;
    color: aliceblue;
}
button.redBg{
    background-color: red;
}
button.greenBg{
    background-color: green;
}